.avatar-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: white;
}

#chartjs-tooltip {
    opacity: 1;
    position: absolute;
    background: rgba(0, 0, 0, .6);
    color: white;
    border-radius: 3px;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
    pointer-events: none;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.chart-area {
    margin: 30px 0;
}

@media (orientation: landscape) {
    .chart-container {
        width: 100%;
        height: 58vh;
        margin: auto;
    }
    .wbc-item-chart-container {
        width: 100%;
        height: 100vh;
        margin: auto;
    }
    .chart-details {
        width: 100%;
        height: 58vh;
        overflow: auto;
    }
    .total-container {
        height: 78vh;
        width: 100%;
        overflow: auto;
    }
    .container-2 {
        height: 39vh;
        width: 100%;
        overflow: auto;
    }
    .container-3 {
        height: 25vh;
        width: 100%;
        overflow: auto;
    }
}

@media (orientation: portrait) {
    .chart-container {
        height: 90vw;
        width: 100%;
    }
    .wbc-item-chart-container {
        height: 90vw;
        width: 100%;
    }
    .chart-details {
        width: 100%;
        height: 90vw;
        overflow: auto;
    }
    .total-container {
        width: 100%;
        height: 90vw;
        overflow: auto;
    }
    .container-2 {
        width: 100%;
        height: 45vw;
        overflow: auto;
    }

    .container-3 {
        width: 100%;
        height: 30vw;
        overflow: auto;
    }
}

/*----------------- File Upload CSS */

/* Mimic table appearance */
div.table {
    display: table;
}

div.table .file-row {
    display: table-row;
}

div.table .file-row > div {
    display: table-cell;
    vertical-align: top;
    border-top: 1px solid #ddd;
    padding: 8px;
}

div.table .file-row:nth-child(odd) {
    background: #f9f9f9;
}


/* The total progress gets shown by event listeners */
#total-progress {
    opacity: 0;
    transition: opacity 0.3s linear;
}

/* Hide the progress bar when finished */
#previews .file-row.dz-success .progress {
    opacity: 0;
    transition: opacity 0.3s linear;
}

/* Hide the delete button initially */
#previews .file-row .delete {
    display: none;
}

/* Hide the start and cancel buttons and show the delete button */

#previews .file-row.dz-success .start,
#previews .file-row.dz-success .cancel {
    display: none;
}

#previews .file-row.dz-success .delete {
    display: block;
}

.file-upload-wait {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    opacity: 0.7;
    color: white;
    font-size: 18px;
    display: table;
    text-align: center;
}

.file-upload-wait span{
    display: table-cell;
    vertical-align: middle;
}

table tbody tr {
    cursor: pointer;
}

#tab-file table tbody tr:hover {
    background-color: rgba(0, 0, 0, .2);
}

.gate-tab {
    width: 100%;
    cursor: pointer;
    color: #007bff;
    font-size: 20px;
}

.pointer-cursor {
    cursor: pointer;
}

.btn-gate {
    color: white;
    background-color: #007bff;
    cursor: pointer;
    margin: 0 .25rem;
    padding: .25rem 1.25rem;
    position: relative;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.btn-gate:hover, .btn-gate.active {
    background-color: #0069d9;
}

.btn-gate.final {
    background-color: #28a745;
}

.btn-gate.final:hover, .btn-gate.final.active {
    background-color: #218838;
}

.btn-gate.final label {
    padding: 20px 0;
    margin: -20px 10px;
    margin-left: 0px;
    color: white;
}

#custom-gate-checks {
    display: contents;
}

.custom-tabs {
    cursor: pointer;
}
.custom-tabs .active {
    background-color: rgb(0, 123, 255);
    color: white;
}


/* line 15, C:/Users/SPN Graphics/Desktop/CL September/Edu mark/207 Education/HTML/scss/_header.scss */
.custom-container {
    padding: 0 150px;
}

@media (max-width: 767px) {
    /* line 15, C:/Users/SPN Graphics/Desktop/CL September/Edu mark/207 Education/HTML/scss/_header.scss */
    .custom-container {
        padding: 10px 10px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /* line 15, C:/Users/SPN Graphics/Desktop/CL September/Edu mark/207 Education/HTML/scss/_header.scss */
    .custom-container {
        padding: 10px 10px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    /* line 15, C:/Users/SPN Graphics/Desktop/CL September/Edu mark/207 Education/HTML/scss/_header.scss */
    .custom-container {
        padding: 0 20px;
    }
}

@media (min-width: 1200px) and (max-width: 1500px) {
    /* line 15, C:/Users/SPN Graphics/Desktop/CL September/Edu mark/207 Education/HTML/scss/_header.scss */
    .custom-container {
        padding: 0 10px;
    }
}

.alert-dismissible .close {
    padding: .25rem .5rem;
}

.btn-download {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
}

/* Darker background on mouse-over */
.btn-download:hover {
    background-color: RoyalBlue;
    
    color: white;
}

.loading {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
.gif {
    width: 70px;
    height: 70px;
    top: calc(50% - 35px);
    left: calc(50% - 35px);
    position: fixed;
}

.wbc-container {
    margin: 0;
    padding: 0;
}
.wbc-child-container {
    max-height: 100vh;
    overflow: auto;
}

.compare-area {
    width: 100%;
    height: 85vh;
    margin: 30px 0;
    padding: 0 20px;
}

.compare-area iframe {
    width: 100%;
    height: 50%;
    padding: .5rem;
    border: none;
}