@{
    ViewData["Title"] = "";
}

    <div class="body_first_area chart-area">
        <div class="row">
            <div class="col-12 col-lg-4 col-xl-3" style="background: blue">
                Tools
            </div>
            <!-- Chart Graph -->
            <div class="col-12 col-lg-8 col-xl-9 enable-scroll">
                <div class="chart-container">
                    <canvas id="fcs-chart"></canvas>
                </div>
            </div>
        </div>

    </div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="~/js/fcs-chart.js"></script>
}