@{
    ViewData["Title"] = "RBC";
}

<div class="body_first_area custom-container chart-area">

    <div class="shadow-sm rounded">
        <ul class="nav nav-tabs nav-fill gate-tab">
            <li class="nav-item active">
                <a class="nav-link active" href="#tab-file" data-toggle="tab">File Manage</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#tab-graph" data-toggle="tab" id="btn-tab-graph">RBC Analyze</a>
            </li>
        </ul>
        <div class="tab-content p-4">
            <!-- File Manage -->
            <div class="tab-pane active" id="tab-file">
                <div class="clearfix mb-3">
                    <h3 class="float-left">Choose RBC File To Analyze</h3>
                    <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#file-upload-dialog" data-backdrop="static" data-keyboard="false">
                        <i class="fa fa-upload"></i>
                        Upload RBC Files
                    </button>
                </div>
                <table id="fcs-table" class="table table-striped table-bordered dt-responsive nowrap" width="100%">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>RBC</th>
                            <th>Created At</th>
                            <th>Updated At</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                </table>

            </div>

            <!-- Chart Graph -->
            <div class="tab-pane" id="tab-graph">
            </div>

        </div>
    </div>
</div>
@if (User.Identity.IsAuthenticated)
{
    @await Html.PartialAsync("~/Views/FileManager/Index.cshtml", "/FileManager/Upload")
}

@section Stylesheet {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.3.1/css/select.bootstrap4.min.css">
}

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="~/js/chartjs-plugin-dragdata.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
}