@{
    ViewData["Title"] = "WBC";
}

    <div class="compare-area">
        <iframe src="/FCS/WbcFullItem" class="shadow"></iframe>
        <iframe src="/FCS/WbcFullItem" class="shadow"></iframe>
    </div>