@{
    ViewData["Title"] = "WBC";
}

    <div class="main-area">
        <iframe src="/FCS/WbcFullItem" class="shadow"></iframe>
        <iframe src="/FCS/WbcFullItem" class="shadow"></iframe>
    </div>