@{
    ViewData["Title"] = "WBC";
}

    <div class="body_first_area custom-container chart-area">
        <iframe src="/FCS/WbcFullItem" style="width: 100%; height: 50%; padding: .5rem"></iframe>
        <iframe src="/FCS/WbcFullItem" style="width: 100%; height: 50%; padding: .5rem"></iframe>
    </div>